<a href="https://colab.research.google.com/github/shraddha-agrawal123/Machine-learning/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import numpy as np
import pandas as pd
npdata=np.array(['a','b','c','d'])
s=pd.Series(npdata)
print(s)
#[0,1,2,3.....range(lenarray))-1)]

0    a
1    b
2    c
3    d
dtype: object

In [8]:
import pandas as pd
import numpy as np
data={'a':0.,'b':1.,'c':2.}
s=pd.Series(data)
print(s)

a    0.0
b    1.0
c    2.0
dtype: float64

In [11]:
import pandas as pd
import numpy as np
npdata={'a':0.,'b':1.,'c':2.}
s=pd.Series(npdata,index=['b','c','d','a'])
print(s)

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [12]:
import pandas as pd
import numpy as np
s=pd.Series(5,index=[0,1,2,3])
print(s)

0    5
1    5
2    5
3    5
dtype: int64

In [15]:
import pandas as pd
import numpy as np
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s[1])
print(s[:3])
print(s[-3:])

2
a    1
b    2
c    3
dtype: int64
c    3
d    4
e    5
dtype: int64

In [19]:
import pandas as pd
import numpy as np
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s['a'])
print(s[['a','c','d']])
#print(s['f'])

1
a    1
c    3
d    4
dtype: int64

In [21]:
import pandas as pd
data=[1,2,3,4,5]
df=pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [25]:
import pandas as pd
data=[['Alex',10],['Bob',12],['Clarke',13]]
df=pd.DataFrame(data,columns=['Name','Age'])
print(df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [31]:
import pandas as pd
import numpy as np
data=[{'a':1,'b':2},{'a':5,'b':10,'c':20}]
df=pd.DataFrame(data)
print(df)
#object contain any value where float contain decimal value

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [28]:
import pandas as pd
import numpy as np
data=[{'a':1,'b':2},{'a':5,'b':10,'c':20}]
df=pd.DataFrame(data,index=['first','second'])
print(df)

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [30]:
import pandas as pd
import numpy as np
data={'one':pd.Series([1,2,3],index=['a','b','c']),'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(data)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [32]:
import pandas as pd
data={'one':pd.Series([1,2,3],index=['a','b','c']),'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(data)
print(df['one'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [33]:
import pandas as pd
d={'one':pd.Series([1,2,3],index=['a','b','c']),'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [35]:
import pandas as pd
d={'one':pd.Series([1,2,3],index=['a','b','c']),'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print("Adding a new column by passing as series:")
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print(df)
print("Adding a new column using the existing columns in dataframe:")
df['four']=df['one']+df['three']
print(df)

Adding a new column by passing as series:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Adding a new column using the existing columns in dataframe:
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [39]:
import pandas as pd
d={'one':pd.Series([1,2,3],index=['a','b','c']),'two':pd.Series([1,2,3,4],index=['a','b','c','d']),'three':pd.Series([10,20,30],index=['a','b','c'])}
df=pd.DataFrame(d)
print("our dataframe is:")
print(df)
#usinf del function
print("Deleting the first column usinf Del functions:")
del df['one']
print(df)
#using pop function
print("Deleting another column using pop function:")
df.pop('two')
print(df)

our dataframe is:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Deleting the first column usinf Del functions:
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
Deleting another column using pop function:
   three
a   10.0
b   20.0
c   30.0
d    NaN

In [42]:
import pandas as pd
import numpy as np
s=pd.Series(np.random.randn(4))
print("the axes are:")
print(s.axes)

the axes are:
[RangeIndex(start=0, stop=4, step=1)]

In [43]:
import pandas as pd
import numpy as np
s=pd.Series(np.random.randn(4))
print("is the object empty?:")
print(s.empty)

is the object empty?:
False

In [44]:
import pandas as pd
import numpy as np
s=pd.Series(np.random.randn(4))
print("The dimension of object:")
print(s.ndim)

The dimension of object:
1

In [45]:
import pandas as pd
import numpy as np
s=pd.Series(np.random.randn(4))
print("The size of object:")
print(s.size)

The size of object:
4

In [46]:
import pandas as pd
import numpy as np
s=pd.Series(np.random.randn(4))
print(s)
print("The actual data series is:")
print(s.values)

0    1.192911
1   -0.142844
2   -0.142090
3    0.343941
dtype: float64
The actual data series is:
[ 1.1929112  -0.14284446 -0.14209016  0.3439407 ]

In [49]:
import pandas as pd
import numpy as np
s=pd.Series(np.random.randn(4))
print(s)
print("The first two rows of the data series:")
print(s.head(2))
print(s.tail(3))

0   -1.526859
1    1.282481
2    0.873249
3    0.222595
dtype: float64
The first two rows of the data series:
0   -1.526859
1    1.282481
dtype: float64
1    1.282481
2    0.873249
3    0.222595
dtype: float64

In [53]:
import pandas as pd
import numpy as np
d={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','jack']),'Age':pd.Series([25,26,25,23,30,29,23]),'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
df=pd.DataFrame(d)
print("the data before transpose is:")
print(df)
print("The Transpose of the data series is:")
print(df.T)

the data before transpose is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   jack   23    3.80
The Transpose of the data series is:
           0      1      2     3      4      5     6
Name     Tom  James  Ricky   Vin  Steve  Smith  jack
Age       25     26     25    23     30     29    23
Rating  4.23   3.24   3.98  2.56    3.2    4.6   3.8

In [55]:
import pandas as pd
import numpy as np
d={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','jack']),'Age':pd.Series([25,26,25,23,30,29,23]),'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
df=pd.DataFrame(d)
print("The shape of the data series is:")
print(df.shape)

The shape of the data series is:
(7, 3)

In [ ]:
import pandas as pd
import numpy as np
d={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','jack']),'Age':pd.Series([25,26,25,23,30,29,23]),'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
df=pd.DataFrame(d)
print("The shape of the data series is:")
print(df.shape)